body {
    background: rgb(247, 144, 60);
    font: italic 15pt Times New Romman;
    text-align: center;
    color: white;
    margin: 50px;
}

header {
    color: white;
    text-align:justify;
}

footer {
    color: white;
    text-align: center;
    font-style: italic;
}
